.section {
    text-align: center;
    padding: 40px 20px;
  }
  
  .title {
    font-size: 2rem;
    color: black;
    margin-bottom: 3rem;
  }
  
  .cardsContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  