.motoCardsGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

@media (max-width: 1200px) {
    .motoCardsGrid {
        width: 95%;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .motoCardsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .motoCardsGrid {
        grid-template-columns: 1fr;
    }
}